
/* GLOBAL */

* {
    box-sizing: border-box;
    color: #4A4A4A;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    font-size: .9em;
    margin:0;
}

h3 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

.bottom-nav {
    display: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* INTRO SECTION */

.intro-section {
    text-align: center;
    padding-bottom: 40px;
    background: #fafafa;
    padding-left: 15px;
    padding-right: 15px;
}

.intro-section header {
    font-size: .8em;
    font-weight: 800;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    word-wrap:break-word;
}

.main-nav {
    padding-left: 0;
    margin: 0;
}

.main-nav li {
    font-weight: 700;
    background: #fff;
    list-style-type: none;
    margin-top: 5px;
    padding: 10px 0;
}
.profile-picture-wrapper {
    margin: 50px 45px 20px;
}

.profile-picture-wrapper img {
    width: 100%;
}

.profile-description {
    color: #7F7F7F;
    line-height: 1.5em;
    font-weight: 300;
}

/* CONTENT SECTION */

.content-section {
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}


.portfolio {
    text-align: center;
    line-height: 1.5em;
}

.portfolio header {
    padding-top:45px;
    padding-bottom: 45px;
}

.portfolio div {
    margin-bottom: 30px;
}

.portfolio h3 {
    margin-bottom: 0;
}

.portfolio p {
    margin-top: 10px;
}


.portfolio img {
    width: 100%;
    padding-bottom: 5px;
}


/* CONTACT / FOOTER SECTION */

.contact-section {
    background: #fafafa;
    text-align: center;
    padding-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-section p {
    color: #7F7F7F;
}

.contact-section p:nth-child(2){
    padding-top: 20px;
    line-height: 1.5;
    padding-bottom: 10px;
}

.email, .phone {
    font-weight: 600;
    color: #7F7F7F;
    line-height: 1.5;
}

hr {
    margin-bottom: 0;
    margin-top: 65px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
    background: #fafafa;
}

.footer-wrapper {
    display: inline-block;
    width: 100%;
    font-size: .85em;
    font-weight: 700;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-link {
    float: right;
    padding-right: 15px;
}

/* MEDIA QUERIES */
@media (min-width: 768px){

    /* INTRO SECTION */

    .intro-section {
        padding-right: 30px;
        padding-left: 30px;
    }

    .intro-section p {
        font-size: 1.2em;
    }

    .intro-section header{
        padding-top: 30px;
        padding-bottom: 0;
        font-size: .7em;
    }

    .main-nav li {
        font-size: .9em;
        display: inline-block;
        background: #fafafa;
        margin-left: 15px;
        margin-right: 15px;
        margin-top:5px;
    }

    .profile-description {
        float: left;
        width: 60%;
        text-align: left;
    }

    .profile-picture-wrapper {
        float: right;
        width: 35%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px
    }

    .profile-description {
        padding-top:0;
        padding-right: 25px;
        margin-top: 50px;
    }

    /* CONTENT SECTION */

    .content-section {
        padding-right: 30px;
        padding-left: 30px;
    }

    .content-section p {
        max-width: 260px;
        margin:10px auto 20px auto;
    }

    .content-section h3 {
        margin-top:10px;
    }

    .marketing, .travel, .gallery {
        float:left;
        width: 49%;
        font-size: .9em;
    }

    .search, .map, .calculator {
        float: right;
        width: 49%;
        font-size: .9em;
    }

    /* CONTACT / FOOTER SECTION */

    footer {
        font-size: .9em;
    }

    hr {
        margin-top: 55px;
    }

    .footer-wrapper {
        margin-top: 25px;
        margin-bottom: 70px;
    }

    .footer-link {
        display: none;
    }

    .contact-section {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 50px;
    }

    .contact-section header {
        font-size: .9em;
    }

    .contact-section p{
        font-size: 1.1em;
    }
    .contact-section p:nth-child(2) {
        background: #fafafa;
        max-width: 470px;
        margin: 35px auto;
        padding-top:0;
    }

    .footer-name {
        float: left;
        padding-left: 15px;
    }

    .bottom-nav {
        float: right;
        display: inline-block;
        margin: 0;
        padding-right: 30px;
    }

    .bottom-nav li {
        display: inline-block;
        margin-left: 25px;

    }


}






