/********************/
    /* GLOBAL */
/********************/

* {
    box-sizing: border-box;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    background: #fafafa;
}

.site-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2 {
    font-size: .9em;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    font-weight: 300;
    line-height: 1.5;
    color: #7f7f7f;
}

li {
    list-style-type: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/************************/
    /* NAV & INTRO */
/************************/

.bottom-nav {
    display: none;
}

.intro-section {
    text-align: center;
    padding: 0 15px 25px 15px;
}

.intro-section header {
    padding: 5px 0;
    font-size: .75em;
    word-wrap:break-word;
}

.main-nav {
    padding-left: 0;
    margin: 0;
}

.main-nav li {
    font-size: .9em;
    font-weight: 700;
    background: #fff;
    margin-top: 6px;
    padding: 12px 0;
}
.presentation img {
    width: 100%;
    padding: 40px 45px 5px;
}

.profile-description {
    color: #7f7f7f;
}

/****************************/
    /* CONTENT SECTION */
/***************************/

.content-section {
    padding: 0 15px 30px 15px;
    background: #fff;
}

.content-section * {
    background: #fff;
}

.portfolio {
    text-align: center;
}

.portfolio img {
    margin-bottom: 25px;
    width: 100%;
}

.portfolio header {
    padding: 35px 0;
}

.portfolio div {
    margin-bottom: 30px;
}

.portfolio h3 {
    margin: 0;
}

.portfolio p {
    margin-top: 15px;
    color: inherit;
}

/***********************************/
    /* CONTACT/FOOTER SECTION */
/***********************************/

.contact-section {
    text-align: center;
    padding: 65px 15px 0 15px;
}

.contact-section p:nth-child(2){
    padding-top: 20px;
    padding-bottom: 10px;
}

.email, .phone {
    font-weight: 600;
    color: #7f7f7f;
}

hr {
    margin-bottom: 0;
    margin-top: 65px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-wrapper {
    display: inline-block;
    width: 100%;
    font-size: .85em;
    font-weight: 700;
    padding: 0 15px;
    margin: 30px 0;
}

.footer-link {
    float: right;
}

/* END OF BASIC LAYOUT */

/***********************************/
        /* MEDIA QUERIES */
/***********************************/

@media (min-width: 768px){

    /* INTRO SECTION 768px */

    .intro-section {
        padding: 30px 30px 60px;
    }

    .main-nav li {
        font-size: .9em;
        display: inline-block;
        background: #fafafa;
        margin: 0 15px;
    }

    .presentation {
        margin-top: 50px;
    }

    .presentation p {
        float: left;
        width: 60%;
        text-align: left;
        margin-top: 0;
        font-size: 1.25em;
        padding-right: 10px;
    }

    .presentation img {
        padding:0;
        float: right;
        width: 40%;
    }

    /* CONTENT SECTION 768px*/

    .content-section {
        padding: 0 30px 5px 30px;
    }

    .content-section p {
        max-width: 270px;
        margin:15px auto 20px auto;
    }

    .content-section div {
        margin-bottom: 35px;
    }

    .marketing, .travel, .gallery {
        float:left;
        width: 49%;
        font-size: .935em;
    }

    .search, .map, .calculator {
        float: right;
        width: 49%;
        font-size: .935em;
    }

    /* CONTACT/FOOTER SECTION 768px */

    .contact-section {
        padding: 60px 30px 0 30px;
    }

    .contact-section p {
        font-size: 1.25em;
    }
    .contact-section p:nth-child(2) {
        max-width: 530px;
        margin: 45px auto;
        padding-top:0;
    }

    hr {
        margin-top: 65px;
    }


    .footer-link {
        display: none;
    }


    .footer-wrapper {
        margin-top: 25px;
        margin-bottom: 75px;
    }

    .footer-name {
        float: left;
        padding-left: 15px;
    }

    .bottom-nav {
        float: right;
        display: inline-block;
        margin: 0;
        padding-right: 15px;
    }

    .bottom-nav li {
        display: inline-block;
        margin-left: 30px;
        font-size: .9em;
    }

    @media (min-width: 1024px) {

        /* INTRO SECTION 1024px */

        .intro-section {
            padding: 55px 60px 60px;
        }

        .intro-section header {
            float: left;
            padding: 0;
            margin:0;
            width: 50%;
            text-align: left;

        }

        .intro-section h1 {
            padding:0;
            margin:0;
        }

        .main-nav {
            float: right;
            width: 50%;
            text-align: right;

        }

        .main-nav li {
            margin-right: 0;
            margin-left: 35px;
        }

        .presentation {
            padding-top: 25px;
        }

        .presentation p {
            width: 60%;
            padding-right: 35px;
        }

        .presentation img {
            width: 40%;
        }

        /* CONTENT SECTION 1024px*/

        .content-section {
            margin-left: 30px;
            margin-right: 30px;
            padding-bottom: 10px;
        }

        .content-section header {
            padding: 50px 0;
        }

        .marketing, .search, .map, .gallery {
            width: 32%;
            float: left;
        }

        .search, .gallery {
            margin-left: 2%;
        }

        .travel, .calculator {
            width: 32%;
            float: right;
        }

        /* CONTACT/FOOTER SECTION 1024px*/
        .contact-section {
            padding-bottom: 0;
        }

        .contact-section p:nth-child(2) {
            max-width: 530px;
            margin: 30px auto 40px;
            padding-top:0;
        }

        .contact-section p:nth-child(3), p:nth-child(4) {
            margin: 10px;
        }

        hr {
            margin-top: 75px;
        }

        .footer-wrapper {
            margin: 25px 0;
        }
    }
}






